/* soft reset do css*/
* {
  margin: 0;
  padding:  0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/mg-bg.png');
  font-family: 'Yanone Kaffeesatz', monospace;
  color: #f2ea78;
  font-size: 14px; 
  text-shadow: 1px 1px 2px #133a53;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint = quais os pontos de quebra de tela que carecem ajustes */
@media (min-width: 600px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 1080px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
    background: #2c4682;
    position: fixed;
    width: 100vw;
    top: 0;
} 

.menu ul {
    display: flex;
    justify-content: space-around;
 }

.menu li {
  list-style: none;
  text-decoration-color: #f1e74e;
}

.menu a {
  display: block;
  padding: 10px;
}

.menu a:hover {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 01.5);
  transition: background-color 1s, shadow 1s;
}

.menu a:active {
  text-shadow: 0 0 0 0;
  background-color: rgb(213, 222, 247);
  color: #4d4d94;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

.menu a:hover {
  background-color: rgba(24, 45,120, 0.5);
  border-radius: 2px;
}

.site-title {
  color: #94d3fd;
  text-align: center;
  text-shadow: 2px 1px 3px #133a53;
}

.site-title {
  font-size: 4em;
  font-family: 'Yanone Kaffeesatz';
}

.site-subtitle {
  font-style: normal;
  font-family: 'Yeseva One';
  color: #d56e1f;
  text-align: center;
  text-shadow: 2px 1px 3px #1b4763;
  }

.site-subtitle2 {
   font-family: 'yeseva one';
   color: #dca038;
   font-size: 36px;
   text-align: center;
   text-shadow: 2px 1px 3px #1c4158;
   line-height: 0.44em;
  }

.portFólio {
  padding: 24px;
  background-color: #2c4682;
  width: 100vw;
  min-height: 100vh;
}

.portFólio h2 {
  padding: 1px;
  margin-bottom: 1em;
  margin-top: 4px;
  font-family: 'Yanone Kaffeesatz';
  color: #f2ea78;
  font-size: 26px;
  text-align: center;
}

.portFólio .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 300px 300px 300px;
}

@media (min-width: 280px) {
.portFólio .grid { 
  grid-template-columns: repeat(3,300px);
  align-content: center;
  }
}

.portFólio figure {
  text-align: center;
}

.img-portfolio {
  object-position: center;
  margin-top: 2em;
  padding: 1px;
  height: 260px;
  width: 260px;
  background-color: #cde7fd;
  box-shadow: 3px 3px 3px #17384d;
}

@media (min-width: 1200px) {
  .img-portfolio {
    height: auto;
    width: 100%;
  }
}

.portFólio figure {
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
}

.grid.icons {
  margin: 8px;
  border: 5px;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
}

.contato a:active {
  text-decoration-color: none;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 01.5);
  transition: text-shadow 3s, color 2s;
}

.contato a:hover {
  text-decoration-color: none;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 01.5);
  transition: text-shadow 3s, color 2s;
} 

.Contato h2 {
  text-align: center;
  padding: 18px;
  background-color: #4d73cd;
  width: 100vw;
  min-height: 48px;
}
